#host of you mqtt broker
#my use case is a mqtt broker hosted by a home assistant server
MQTT_BROKER=
MQTT_USER=
MQTT_PASSWORD=
MQTT_ID_CLIENT=
#set your topic here
MQTT_TOPIC=pctopic
OS_TYPE=unsupported
ASSETS_FOLDER=assets
